# Building Datasets

## 1. Import Libraries

In [3]:
import pandas as pd

## 2. Load the Dataset

In [5]:
df = pd.read_csv("data/NY-House-Dataset.csv")
df.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856

## 3. Modifying Columns

### Dropping Columns

In [10]:
df = df.drop('BROKERTITLE', axis=1)
df.columns

Index(['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY',
       'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS',
       'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [11]:
df = df[['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'LOCALITY', 'SUBLOCALITY']]
df.shape

(4801, 10)

### Adding Columns

In [14]:
df1 = df.assign(PRICE_PER_SQFT = df['PRICE'] / df['PROPERTYSQFT'])

df1.head()

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,LOCALITY,SUBLOCALITY,PRICE_PER_SQFT
0,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York,Manhattan,225.000000
1,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,New York,New York County,11114.277572
2,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",New York,Richmond County,129.032258
3,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",New York,New York County,155.056180
4,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",New York,New York County,3880.070547

In [15]:
df['PRICE_PER_SQFT'] = df['PRICE'] / df['PROPERTYSQFT']

df.head()

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,LOCALITY,SUBLOCALITY,PRICE_PER_SQFT
0,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York,Manhattan,225.000000
1,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,New York,New York County,11114.277572
2,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",New York,Richmond County,129.032258
3,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",New York,New York County,155.056180
4,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",New York,New York County,3880.070547

## 4. Sorting

In [17]:
df.head()

df.sort_values('PRICE_PER_SQFT', ascending=False)

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,LOCALITY,SUBLOCALITY,PRICE_PER_SQFT
304,House for sale,2147483647,7,6.000000,10000.000000,6659-6675 Amboy Rd,"New York, NY 10309","6659-6675 Amboy RdNew York, NY 10309",New York,Richmond County,214748.364700
1075,Co-op for sale,60000000,8,8.000000,2184.207862,960 5th Ave Unit 12,"Manhattan, NY 10075","960 5th Ave Unit 12Manhattan, NY 10075",New York County,New York,27469.913026
1453,Co-op for sale,48000000,5,2.373861,2184.207862,740 Park Ave # 4 & 5B,"New York, NY 10021","740 Park Ave # 4 & 5BNew York, NY 10021",New York County,New York,21975.930421
3388,Co-op for sale,45000000,5,2.373861,2184.207862,4 E 66th St Fl 7,"New York, NY 10065","4 E 66th St Fl 7New York, NY 10065",New York County,New York,20602.434770
3571,Co-op for sale,44500000,5,6.000000,2184.207862,2 E 67th St Fl 9,"New York, NY 10065","2 E 67th St Fl 9New York, NY 10065",New York County,New York,20373.518828
...,...,...,...,...,...,...,...,...,...,...,...
318,Condo for sale,99000,1,1.000000,2184.207862,1368 E 92nd St Unit 300,"Brooklyn, NY 11236","1368 E 92nd St Unit 300Brooklyn, NY 11236",Kings County,Brooklyn,45.325356
4003,Land for sale,75000,3,2.373861,2184.207862,199th St,"Saint Albans, NY 11412","199th StSaint Albans, NY 11412",United States,New York,34.337391
360,Land for sale,5800,3,2.373861,2184.207862,4515 Avenue N Lot 5,"Brooklyn, NY 11234","4515 Avenue N Lot 5Brooklyn, NY 11234",Kings County,Brooklyn,2.655425
310,For sale,3225,3,1.000000,2184.207862,635 W 170th St Apt 2C,"New York, NY 10032","635 W 170th St Apt 2CNew York, NY 10032",New York County,New York,1.476508
317,For sale,2494,2,1.000000,2184.207862,635 W 170th St Apt 4F,"New York, NY 10032","635 W 170th St Apt 4FNew York, NY 10032",New York County,New York,1.141833

## 5. Removing Rows

In [21]:
df['TYPE'].value_counts()

TYPE
Co-op for sale                1450
House for sale                1012
Condo for sale                 891
Multi-family home for sale     727
Townhouse for sale             299
Pending                        243
Contingent                      88
Land for sale                   49
For sale                        20
Foreclosure                     14
Condop for sale                  5
Coming Soon                      2
Mobile house for sale            1
Name: count, dtype: int64

In [22]:
df['TYPE'].unique()

array(['Condo for sale', 'House for sale', 'Townhouse for sale',
       'Co-op for sale', 'Multi-family home for sale', 'For sale',
       'Contingent', 'Land for sale', 'Foreclosure', 'Pending',
       'Coming Soon', 'Mobile house for sale', 'Condop for sale'],
      dtype=object)

In [28]:
keep =['Condo for sale', 'House for sale', 'Townhouse for sale',
       'Co-op for sale', 'Multi-family home for sale', 'Mobile house for sale']
df = df.loc[df['TYPE'].isin(keep)]
df

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,LOCALITY,SUBLOCALITY,PRICE_PER_SQFT
0,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York,Manhattan,225.000000
1,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,New York,New York County,11114.277572
2,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",New York,Richmond County,129.032258
3,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",New York,New York County,155.056180
4,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",New York,New York County,3880.070547
...,...,...,...,...,...,...,...,...,...,...,...
4796,Co-op for sale,599000,1,1.000000,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York County,New York,274.241298
4797,Co-op for sale,245000,1,1.000000,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",New York,Queens County,112.168812
4798,Co-op for sale,1275000,1,1.000000,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",New York,New York County,583.735652
4799,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",Queens County,Queens,913.167939
4800,Co-op for sale,349000,1,1.000000,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",Kings County,Brooklyn,465.333333

In [29]:
df['TYPE'].value_counts()

TYPE
Co-op for sale                1450
House for sale                1012
Condo for sale                 891
Multi-family home for sale     727
Townhouse for sale             299
Mobile house for sale            1
Name: count, dtype: int64

## 6. Map

In [36]:
def remove_for_sale(word):
    index = word.find(" for sale")
    if index != -1:
        return word[:index]
    return word

df['TYPE'] = df['TYPE'].map(remove_for_sale)
df['TYPE'].value_counts()

TYPE
Co-op                1450
House                1012
Condo                 891
Multi-family home     727
Townhouse             299
Mobile house            1
Name: count, dtype: int64

## 7. Groupby

In [40]:
df.groupby('TYPE')[["PRICE_PER_SQFT"]].mean()

                   PRICE_PER_SQFT
TYPE
Co-op                  605.463668
Condo                 1220.072386
House                  835.314814
Mobile house           589.687466
Multi-family home      599.004669
Townhouse             1533.853853

In [42]:
df.groupby(["TYPE", "SUBLOCALITY"])[["PRICE_PER_SQFT"]].mean()

                                    PRICE_PER_SQFT
TYPE              SUBLOCALITY
Co-op             Bronx County          252.760899
                  Brooklyn              425.241011
                  Brooklyn Heights      958.588957
                  East Bronx            353.333333
                  Flushing              324.197829
                  Fort Hamilton         767.948718
                  Jackson Heights       450.964406
                  Kings County          396.109783
                  Manhattan            1020.928448
                  New York              978.616234
                  New York County      1802.774736
                  Queens                251.295210
                  Queens County         221.867146
                  Rego Park             344.000000
                  Riverdale             250.813783
                  Staten Island         328.413079
                  The Bronx             258.013786
Condo             Bronx County          347.699596
                  Brooklyn              925.500635
                  Coney Island          623.147457
                  Dumbo                2322.386864
                  Flushing              320.024487
                  Kings County          901.488177
                  Manhattan            2259.352005
                  New York             1697.109902
                  New York County      2475.024192
                  Queens                627.871128
                  Queens County         649.315615
                  Richmond County       397.757483
                  Snyder Avenue         619.047619
                  Staten Island         404.722002
                  The Bronx             408.554708
House             Bronx County          469.190193
                  Brooklyn              457.124777
                  Kings County          648.225969
                  New York             1045.745989
                  New York County      2372.669831
                  Queens                642.142857
                  Queens County         547.896172
                  Richmond County      1325.459204
                  The Bronx             428.356481
Mobile house      Queens County         589.687466
Multi-family home Bronx County          413.175923
                  Brooklyn              420.856863
                  Kings County          601.125555
                  New York              836.464603
                  New York County      2528.791004
                  Queens                360.000000
                  Queens County         571.016841
                  Richmond County       412.051519
                  Staten Island         353.710328
Townhouse         Bronx County          353.147667
                  Brooklyn              756.619603
                  Kings County         1135.402153
                  New York             2065.193279
                  New York County      2405.067712
                  Queens County         782.547019
                  Richmond County       376.521638
                  Staten Island         327.966011
                  The Bronx             272.222222

## 8. Homework

In [58]:
df = pd.read_csv("data/NY-House-Dataset.csv")

In [52]:
def remove_brokered_by(word):
    s = "Brokered by "
    index = word.find(s)
    if index != -1:
        return word[:index] + word[index + len(s):]
    return word

dftemp = df.copy()

dftemp['BROKERTITLE'] = dftemp['BROKERTITLE'].map(remove_brokered_by)
dftemp['BROKERTITLE'].value_counts()

BROKERTITLE
COMPASS                              456
Douglas Elliman - 575 Madison Ave    110
Brown Harris Stevens                  93
Corcoran East Side                    91
RE MAX Edge                           79
                                    ...
Gerard R Desgranges                    1
Property Professional Realty           1
Mark Murphy Properties                 1
S Sharf Realty Inc                     1
New York Way Real Estate Corp          1
Name: count, Length: 1036, dtype: int64

In [63]:
dftemp = df.copy()

dftemp = dftemp.loc[dftemp['LOCALITY'].str.contains('County')]
dftemp.groupby('LOCALITY')[['PROPERTYSQFT']].max()

                 PROPERTYSQFT
LOCALITY
Bronx County           4000.0
Kings County          18936.0
New York County        8360.0
Queens County          5000.0
Richmond County        5400.0

In [66]:
dftemp = df.copy()

dftemp['BED_TO_BATH'] = dftemp['BEDS'] / dftemp['BATH']
dftemp.groupby('SUBLOCALITY')[['BED_TO_BATH']].mean().sort_values('BED_TO_BATH', ascending=False)

                  BED_TO_BATH
SUBLOCALITY
New York                  inf
New York County           inf
Brooklyn Heights     3.000000
Snyder Avenue        3.000000
Rego Park            3.000000
Bronx County         1.794739
Kings County         1.666987
Queens County        1.644182
Staten Island        1.566617
Richmond County      1.517340
Jackson Heights      1.500000
Queens               1.484284
Brooklyn             1.459089
The Bronx            1.448444
Flushing             1.250000
Riverdale            1.250000
Coney Island         1.166667
Manhattan            1.007937
Fort Hamilton        1.000000
East Bronx           1.000000
Dumbo                0.750000